---
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSS.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import PHPIcon from "./icons/PHPIcon.astro";
import SQLServerIcon from "./icons/SQLIcon.astro"
import AstroIcon from "./icons/AstroIcon.astro";
import DockerIcon from "./icons/DockerIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import WarpIcon from "./icons/WarpIcon.astro";
import VSCodeIcon from "./icons/VSCodeIcon.astro";
import NPMIcon from "./icons/Npmicon.astro";
import HomebrewIcon from "./icons/HomebrewIcon.astro";
import WordPressIcon from "./icons/WordPressIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro"; 

export const TAGS = {
    HTML : {
        name: "HTML5",
        icon: HTMLIcon
    },
    CSS : {
        name: "CSS",
        icon: CSSIcon
    },
    JAVASCRIPT : {
        name: "JavaScript",
        icon: JavascriptIcon
    },
    BOOTSTRAP : {
        name: "Bootstrap",
        icon: BootstrapIcon
    },
    PHP : {
        name: "PHP",
        icon: PHPIcon
    },
    SQLSERVER : {
        name: "SQL Server",
        icon: SQLServerIcon
    },
    ASTRO : {
        name: "Astro",
        icon: AstroIcon
    },
    DOCKER : {
        name: 'Docker',
        icon: DockerIcon
    },
    TAILWIND : {
        name: "TailWindCSS",
        icon: TailwindIcon
    },
    GIT : {
        name: "GIT",
        icon: GitIcon
    },
    GITHUB : {
        name: "GIT Hub",
        icon: GitHubIcon
    },
    WARP : {
        name: "Warp",
        icon: WarpIcon
    },
    VSCODE : {
        name: 'VSCode',
        icon: VSCodeIcon 
    },
    NPM : {
        name: 'NPM',
        icon: NPMIcon
    },
    HOMEBREW : {
        name: 'Homebrew',
        icon: HomebrewIcon
    },
    WORDPRESS : {
        name: 'WordPress',
        icon: WordPressIcon
    },

}
const PROJECTS = [
    {
        title: 'FEMO Ingenieria',
        description: 'Empresa dedicada al calculo de estructuras.',
        link: 'https://femoingenieria.com/',
        image: '/projects/images/FEMOIngenieria.jpg',
        tags: [TAGS.WORDPRESS]
    },
    {
        title: 'Restaurante HERO',
        description: 'Empresa de restauración en Denia, Alicante.',
        link: 'https://restauranteherodenia.com/',
        image: '/projects/images/RestauranteHero.jpg',
        tags: [TAGS.WORDPRESS]
    }
]
---
{
    PROJECTS.map(({ title, description, tags , image}) => (
        <div id="proyecto" class="flex items-center py-6">
            <img class ="w-1/2 object-cover rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
            
            <article class="w-1/2 p-4">
                <h3 class="text-3xl font-semibold mb-2">{title}</h3>
                <p class="text-lg mb-4 text-pretty text-[#424c55]">{description}</p>
                <ul class="flex gap-x-4 flex-row">
                    {tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-sm bg-[#00868E] text-white py-2 px-4`}>
                                <!-- <tag.icon class="size-6" />-->
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
            </article>
        </div>
    
    ))
}