---
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSS.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";

const TAGS = {
    HTML : {
        name: "HTML5",
        class: "bg-black text-white",
        icon: HTMLIcon
    },
    CSS : {
        name: "CSS",
        class: "",
        icon: CSSIcon
    },
    TAILWIND : {
        name : "TailWindCSS",
        class: "",
        icon: TailwindIcon
    },
    JAVASCRIPT : {
        name : "JavaScript",
        class: "",
        icon: JavascriptIcon
    }
}
const PROJECTS = [
    {
        title: 'Porfolio Fran Riera',
        description: 'Porflio donde se especifican experiencias, estudios y proyectos realizados.',
        link: '#',
        github: '#',
        image: 'https://placehold.co/800x600',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.TAILWIND]
    }
]
---
{
    PROJECTS.map(({ title, description, tags , image}) => (
        <div id="proyecto" class="flex">
            <img class ="w-1/2 object-cover rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de pantalla del proyecto ${image}`} />
            
            <article class="w-1/2 p-4">
                <h3 class="text-3xl font-semibold text-white mb-2">{title}</h3>
                <p class="text-lg mb-4 text-pretty text-gray-400">{description}</p>
                <ul class="flex gap-x-4 flex-row">
                    {tags.map(tag => (
                        <li>
                            <span class={`flex gap-x-2 rounded-full text-sm bg-[#00868E] py-2 px-4`}>
                                <!-- <tag.icon class="size-6" />-->
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
            </article>
        </div>
    
    ))
}